<template>
  <div id="app">
    <h2>MODULES</h2>
    <button @click="toggleCheck">M TOGGLE</button>
    <button @click="$store.dispatch('check/toggleCheck')">A TOGGLE</button>
    <!-- <p>{{ $store.state.checked }}</p> -->
    <p>STATE: {{ $store.state.check.checked }}</p>
    <p>MAP STATE: {{ myChecked }}</p>
    <p>GETTER: {{ $store.getters['check/checked'] }}</p>
    <p>MAP GETTER: {{ checkedFromGetter }}</p>

    <hr>
    <h2>ROOT</h2>
    <button @click="$store.commit('toggleRoot')">$ TOGGLE</button>
    <button @click="toggleRoot">me TOGGLE</button>
    <button @click="setRootValue(true)">me SET</button>

    <p>STATE: {{ $store.state.root }}</p>
    <p>MAP STATE: {{ myRoot }}</p>
    <p>GETTER: {{ $store.getters.root }}</p>
    <p>MAP GETTER: {{ rootFromGetter }}</p>
  </div>
</template>

<script>
import {mapState, mapGetters, mapMutations, mapActions} from 'vuex';

export default {
  name: 'app',
  computed: {
    // ...mapState(['root']),
    ...mapState({myRoot: 'root'}),
    ...mapState('check', ['checked']),
    ...mapState('check', { myChecked: 'checked' }),

    ...mapGetters({
      rootFromGetter: 'root',
      checkedFromGetter: 'check/checked'
    })
  },
  methods: {
    ...mapMutations(['toggleRoot']),
    ...mapMutations({
      setRootValue: 'setRoot',
      toggleCheck: 'check/toggleCheck'
    }),
  }
}
</script>
