<template>
<div>
  <HotSearches/>
</div>
</template>

<script>
import HotSearches from '~/components/HotSearches.vue'

export default {
  head: {
    title: 'JOBS'
  },
  components: {
    HotSearches
  }
}
</script>
