<template>
  <div>
    <HotSearches class="mb-10"/>

    <div>
      <p v-for="p in positions" :key="p.id">{{ p.title }}</p>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import HotSearches from '@/components/HotSearches.vue';

const url = 'http://localhost:3000/positions.json';

export default {
  components: { HotSearches },
  // key: route => route.fullPath,
  watchQuery: ['description', 'location'],
  asyncData({isDev, route, store, env, params, query, req, res, redirect, error}) {
    console.log('asyncData');
    const { description, location } = query;
    return axios.get(url, { params: { description, location } })
      .then(res => {
        // this.positions = res.data;
        return {
          positions: res.data
        };
      })
      .catch(console.log);
  },
  // created () {
  //   this.fetchData();
  // },
  methods: {
    fetchData () {
      const { description, location } = this.$route.query;
      axios.get(url, { params: { description, location } })
        .then(res => {
          this.positions = res.data;
        })
        .catch(console.log);
    }
  },
  watch: {
    $route: {
      immediate: true,
      handler () {
        console.log('watch route');
        // this.fetchData();
      }
    }
  }
};
</script>
