<template>
  <div>
    <h1>PROJECT {{$route.params.id}}</h1>
  </div>
</template>
<script>
export default {
  // head: {
  //   title: 'PROJECT ' + this.$route.params.id
  // },
  head () {
    return {
      title: 'PROJECT ' + this.$route.params.id
    };
  }

}
</script>
