<template>
  <div id="app">
    <h2>MODULES</h2>
    <button @click="$store.commit('check/toggleCheck')">M TOGGLE</button>
    <button @click="$store.dispatch('check/toggleCheck')">A TOGGLE</button>

    <button @click="$store.commit('check/setCheck', true)">SET TRUE</button>


    <!-- <p>{{ $store.state.checked }}</p> -->
    <p>STATE: {{ $store.state.check.checked }}</p>
    <p>GETTER: {{ $store.getters['check/checked'] }}</p>

    <hr>
    <h2>ROOT</h2>
    <p>STATE: {{ $store.state.root }}</p>
    <p>GETTER: {{ $store.getters.root }}</p>
  </div>
</template>

<script>
export default {
  name: 'app',
  created () {
    console.log(this);
  }
}
</script>
