<template>
  <div>
    <h2>Hot Searches</h2>
    <div>
      <!-- <span v-for="(d,index) in descriptions" :key="d" >
        <span v-if="index">','</span>
        <router-link :to="{name: 'positions', query: {description: d}}">
          {{d}}</router-link>
      </span> -->

        <!--           :to="{name: 'positions', params: {description: d}}" -->


        <router-link
          v-for="(d,index) in descriptions" :key="d" tag="span"
          :to="{name: 'positions', query: {description: d}}"
        >
          <span v-if="index"> · </span>
          <a>{{d}}</a>
        </router-link>
    </div>

        <div>
        <router-link
          v-for="(loc,index) in locations" :key="loc" tag="span"
          :to="{name: 'positions', query: {location: loc}}"
        >
          <span v-if="index"> · </span>
          <a>{{loc}}</a>
        </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HotSearches',
  data () {
    return {
      descriptions: [
        'PHP','Rails','Python','JavaScript','Scala','Android','iOS','Linux','Erlang'
      ],
      locations: [
        'San Francisco','New York City','Austin, TX','London','Europe'
      ]
    }
  }
}
</script>

