<template>
  <div>
    <nav>
      <nuxt-link :to="{name: 'index'}">NL:N INDEX</nuxt-link>


      <a href="/about">HREF ABOUT</a>
      <router-link to="/about">RL ABOUT</router-link>
      <router-link :to="{name: 'about'}">RL:N ABOUT</router-link>
      <nuxt-link :to="{name: 'about'}">NL:N ABOUT</nuxt-link>

      <nuxt-link to="/project/1">PROJECT 1</nuxt-link>
    </nav>
    <nuxt/>
  </div>
</template>

<style>
</style>
