<template>
  <div>
    <header class="bg-blue">
      <div class="container mx-auto flex h-10 justify-between items-center">
        <nuxt-link :to="{name: 'index'}" class="text-white no-underline">GITHUB JOBS</nuxt-link>
        <nuxt-link to="/project/1" class="text-white no-underline">1</nuxt-link>
        <nuxt-link :to="{name: 'faq'}" class="text-white no-underline">How it works</nuxt-link>
      </div>
    </header>
    <nuxt/>
  </div>
</template>

<style>
</style>
