<template>
  <div>
    <HotSearches/>
  </div>
</template>

<script>
// @ is an alias to /src
import HotSearches from '@/components/HotSearches.vue'

export default {
  name: 'home',
  components: {
    HotSearches
  }
}
</script>
