<template>
  <div>
    <HotSearches class="mb-10"/>

    <p v-if="loading">Loading...</p>
    <div v-else>
      <p v-for="p in positions" :key="p.id">{{ p.title }}</p>
    </div>
  </div>
</template>
<script>
import axios from 'axios';
import HotSearches from '@/components/HotSearches.vue';

const url = 'http://localhost:3000/positions.json';

export default {
  components: { HotSearches },
  data () {
    return {
      positions: [],
      loading: true
    };
  },
  created () {
    this.fetchData();
  },
  methods: {
    fetchData () {
      this.loading = true;
      const { description, location } = this.$route.query;
      axios.get(url, { params: { description, location } })
        .then(res => {
          this.positions = res.data;
          this.loading = false;
        })
        .catch(console.log);
    }
  }
  // watch: {
  //   $route: {
  //     immediate: true,
  //     handler () {
  //       this.fetchData();
  //     }
  //   }
  // }
};
</script>
